* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #2B0D3E 0%, #7A3F91 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    background: rgba(242, 234, 247, 0.1);
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.1);
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(0,0,0,0.1);
    border-radius: 30px;
    background: #fff;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: 600;
    color: #2B0D3E;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #C59DD9;
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    left: 50px;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #C59DD9;
    outline: none;
    background: transparent;
    color: #fff;
}

.input-field::placeholder {
    color: #ddd;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #7A3F91;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #C59DD9;
    color: #2B0D3E;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #fff;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login { left: 50px; }
#register { left: 450px; }
